<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>日報管理システム</title>
    <link rel="stylesheet" th:href="@{/css/employee/detail.css}">
</head>
<body>
    <h1>の従業員情報　詳細ページ</h1>
    <form method="post" th:action="@{/logout}">
        <input type="submit" value="ログアウト">
    </form><br>
    <form method="post" action="/employee/detail/{id}(id=${employee.id})">
        <table th:object="${employee}">
            <tr><th>社員番号</th><td th:text="*{authentication.code}"></td></tr>
            <tr><th>氏名</th><td th:text="*{name}"></td></tr>
            <tr><th>権限</th><td th:text="*{authentication.role}"></td></tr>
            <tr><th>登録日時</th><td th:text="*{createdAt}"></td></tr>
            <tr><th>更新日時</th><td th:text="*{updatedAt}"></td></tr>
        </table>
        <a th:href="@{/employee/update/{id}(id=${employee.id})}">この従業員情報を編集する</a>
        <a th:href="@{/employee/list}">一覧に戻る</a>

    </form>
</body>
</html>